body {
  background-color: #E8E8E8;
}
#topbar {
  display: block;
  position: relative;
  height: 100px;
  width: 400px;
  display: block;
  border-radius: 2px;
  margin: auto auto;
  right: -100px;
}
#topbar h3 {
  position: absolute;
  text-decoration: underline;
}
.problem {
  border-radius: 50%;
  height: 100px;
  position: relative;
  width: 100px;
  background-color: #A8A8A8;
  position: relative;
  opacity: 0.5;
  margin: 10px;
  right: -300px;
  border-style:solid;
  border-color: black;
  border-width:2px;
  display: inline-block;
}
.description {
  position: relative;
  top: -20px;
  left: 550px;
  height: 110px;
  width: 600px;
  border-style:solid;
  border-color: black;
  border-width:2px;
  border-radius: 5px;
  display: inline-block;
}
#description1 {
  left: 425px;
}
.problem:hover {
  opacity: 1.0;
}
#multiples {
  top: -40px;
  right: -400px;
}
#fibonacci {
  top: 92px;
  right: 333px;
}
#largestPrimeFactor {
  bottom: -91px;
  left: -208px;
}






